@import '../globals.scss';
@import '../breackpoints.scss';

.cpageContainer {
    @include custom-card;
    cursor: default;
    position: relative;
    top: 30px;
    margin-inline: 15vw;
    border-radius: 40px;
    padding: 25px;
    box-sizing: border-box;
    margin-bottom: 70px;

    .cpageHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        h1 {
            font-size: 1.7rem;
        }
    }
}

.cpageTopic {
    background-color: white;
    border: 3px solid map-get($color-mp, 'drop');
    box-sizing: border-box;
    padding: 20px;
    padding-top: 15px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 15px;

    h1 {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    
    .cpageLink {
        a {
            &:hover {
                text-decoration: underline;
            }
            color: #ff7474;
            font-style: italic;
            font-size: .8rem;
        }
        margin-bottom: 5px;
        // background-color: blue;
    }

    .cpageProblem {
        @include custom-card;
        background-color: map-get($color-mp, 'default');
        padding: 5px;
        box-sizing: border-box;
        font-size: .9rem;
        margin-right: 5px;
        margin-top: 10px;
    }
}