@import '../globals.scss';
@import '../breackpoints.scss';

.postsContainer {
    @include custom-card;
    margin-inline: 5vw;
    padding: 25px;
    position: relative;
    top: 50px;
    font-weight: 700;
    border-radius: 30px;
    margin-bottom: 100px;
    cursor: default;

    h1 {
        font-weight: 700;
    }
}

.postsHOLDER {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.postsCard {
    @include custom-card;
    @include drop_shadow(5px);
    border: 3px solid map-get($color-mp, 'drop');
    background-color: white;
    // width: 350px;
    // height: 400px;
    box-sizing: border-box;
    border-radius: 37px;
    overflow: hidden;
}

.postsPostImage {
    img {
        // width: 100%;
        // height: 100%;

        box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
        overflow: hidden;
    }
    object-fit: cover;
    // height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postsPostName {
    p {
        @include defont('primary');
        font-size: 0.9rem;
        text-align: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
    box-sizing: border-box;
    // height: 25%;
    @include dots(3);
}