@import '../globals.scss';
@import '../breackpoints.scss';

.postsContainer {
    @include custom-card;
    margin-inline: 5vw;
    padding: 25px;
    position: relative;
    top: 50px;
    font-weight: 700;
    border-radius: 30px;
    margin-bottom: 100px;
    cursor: default;

    h1 {
        font-weight: 700;
    }
}

.postsHOLDER {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.postsCard {
    @include custom-card;
    @include drop_shadow(3px);
    border: 3px solid map-get($color-mp, 'drop');
    background-color: white;
    width: 350px;
    height: 350px;
    box-sizing: border-box;
    border-radius: 37px;
    overflow: hidden;
    margin-bottom: 40px;
}

.postsPostImage {
    img {
        box-shadow: inset 0px 0px 10px rgba(0,0,0,1);
        overflow: hidden;
    }
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.postsPostName {
    p {
        @include defont('primary');
        font-size: 0.9rem;
        text-align: center;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 30px;
    box-sizing: border-box;
    // height: 25%;
    @include dots(2);
}

.postsJumpersHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: blue;
    margin: auto;
    width: 90px;
}

.postsJumper {
    @include custom-card;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-weight: 900;
}